<div class="milestone-timeline-container">
  <div class="marker top">
    <p>Dzisiaj</p>
  </div>
  <div class="timeline">
    <div class="milestone-row">
      <!-- <div class="milestone-marker"></div> -->
      <svg>
        <g>
          <line class="right" x1="50%" y1="30%" x2="65%" y2="30%"></line>
          <circle cx="50%" cy="30%" r="0.3em"></circle>
        </g>
      </svg>
    </div>
    <div class="milestone-row">
      <svg>
        <g>
          <line class="left" x1="35%" y1="30%" x2="50%" y2="30%"></line>
          <circle cx="50%" cy="30%" r="0.3em"></circle>
        </g>
      </svg>
    </div>
  </div>
</div>


<!-- <div class="center">
  <div class="divek">
    <p>Dodawanie</p>
      <input type="text" [(ngModel)]="milestoneToAdd.Name" placeholder="name"/>
      <mat-form-field>
          <input matInput [(ngModel)]="milestoneToAdd.EndDate" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button (click)="addMilestone(milestoneToAdd)">Add milestone</button>  
  </div>
    <p>Lista: </p>
      <div *ngFor="let milestone of milestones">
          <div class="divek">
            Nazwa: <p>{{milestone.name}}</p>
            Data: <p>{{milestone.endDate}}</p>
          </div>
          <button (click)="deleteMilestone(milestone)">Delete</button>
          <button (click)="turnEditMode(milestone)">Edit</button>         
      </div>
</div>
<div class="divek" *ngIf="editMode">
    <p>Edytowanie</p>
      <input type="text" [(ngModel)]="milestoneToEdit.name" placeholder="name"/>
      <mat-form-field>
          <input matInput [(ngModel)]="milestoneToEdit.endDate" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button (click)="editMilestone()">Save</button>  
</div> -->