.milestone-timeline-container {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background: gray;
    div.marker {
        margin: 0 auto;
        border-radius: 5px;
        background: rgb(65, 56, 75);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 125px;
        p {
            margin: 0;
            color: white;
        }
    }
    div.timeline {
        margin: 0 auto;
        min-height: 500px;
        background: url('/assets/images/timeline_thin.png') repeat-y center;
        .milestone-row {
            // border: 1px solid blue;
            height: 100px;
            margin: 0 auto;
            overflow: hidden;
            svg {
                width: 100%;
                float: left;
                g {
                    line.left {
                        stroke: #FF9700;
                        stroke-width: 0.5px;
                    }
                    line.right {
                        stroke: #FF9700;
                        stroke-width: 0.5px;
                    }
                    circle {
                        stroke: gray;
                        stroke-width: 0.5px;
                        fill: #FF9700;
                    }
                }
            }
            // .milestone-marker {
            //     width: 10px;
            //     height: 10px;
            //     border-radius: 50%;
            //     border: 1px solid white;
            //     background: #FF9700;
            //     margin: 0 auto;
            //     margin-top: 40px;
            // }
            // .milestone-line-right {
            //     height: 1px;
            //     width: 50px;
            //     background: black;
            //     margin: 0 auto;
            //     overflow: hidden;
            // }
        }
    }
}

.divek {
    border-color: red;
    border: solid 1px;
    border-radius: 8px;
    padding: 5px;
    width: fit-content;
    text-align: center;
    margin: 10px;
}

.center {
    text-align: center;
    width: fit-content;
    margin: 0px;
    display: flex;
}