<div class="row">
  <div class="col-sm-6 col-lg-6">
    <div class="list-group indented" *ngFor="let task of tasks">
      <tskr-task-thumbnail [task]="task"></tskr-task-thumbnail>
      <div class="list-group indented" *ngFor="let subtask of task.children">
        <tskr-task-thumbnail [task]="subtask"></tskr-task-thumbnail>
        <div class="list-group indented" *ngFor="let subsubtask of subtask.children">
          <tskr-task-thumbnail [task]="subsubtask"></tskr-task-thumbnail>
          <div class="list-group indented" *ngFor="let subsubsubtask of subsubtask.children">
            <tskr-task-thumbnail [task]="subsubsubtask"></tskr-task-thumbnail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>