<h1 mat-dialog-title>Dodaj projekt</h1>
<div mat-dialog-actions>

    <div>
        <mat-form-field>
            <textarea matInput [(ngModel)]="projectToAdd.Name" placeholder="Nazwa projektu"></textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="projectToAdd.Description" placeholder="Opis projektu"></textarea>
        </mat-form-field>
    </div>

    <div>
        <button mat-button (click)="addProject()" >Dodaj</button>
        <button mat-button (click)="no()">Anuluj</button>
    </div>
</div>