::-webkit-scrollbar {
    display: none;
}

.drag-over {
    border: #ff525b inset 1.5px;
  }

  .drag-target-border{
    border: #1ae024 inset 1.5px;
  }

  .drag-transit{
    opacity : 1!important;
  }

.thumbnail {
    height: 65px;
    padding-top: 5px;
    border-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background: whitesmoke;
    cursor: pointer;
    margin-top: 4px;
    .pointer {
        margin-top: 15px;
        margin-left: 5px;
        font-size: 2em;
    }
    .thumbnail-content {
        margin-top: -15px;
        .task-title {
            font-weight: bold;
            font-size: 1.2em;
        }
        .navigation {
            margin-top: 10px;
            margin-right: 10px;
            .status-icon {
                .status-in-progress {
                    color: rgba(0, 0, 255, .5);
                }
                .status-not-started {
                    color: rgba(255, 0, 0, .5);
                }
                .status-done {
                    color: rgba(0, 100, 0, 0.5);
                }
            }
            .remove {
                color: grey;
            }
            .remove:hover {
                transition: color 0.5s ease;
                color: red;
            }
            .add-button {
                // transition: color 0.5s ease;
                color: #FF9700;
            }
        }
        .controlpoints {
            margin-bottom: 5px;
            .milestones-icon {
                color: gray;
                margin-right: 5px;
            }
            mat-chip-list {
                float: right;
                mat-chip {
                    height: 10px;
                }
            }
        }
        .user {
            margin-bottom: 5px;
            margin-right: 10px;
            mat-icon {
                color: gray;
                margin-right: 5px;
            }
            mat-chip-list {
                float: right;
                mat-chip {
                    height: 10px;
                }
            }
        }
    }
}

.thumbnail:hover {
    transition: color 1s ease;
    background-color: rgb(255, 242, 198);
}