.project-view-container {
    margin: 16px;
    .project-details-container {
        mat-card {
            min-height: 500px;
            mat-card-header {
                mat-card-title {
                    .project-title {
                        font-weight: 200;
                    }
                }
            }
            hr {
                display: block;
                margin: 10px 0 10px 0;
                border-top: 1px solid rgba(0, 0, 0, .12);
                width: 100%
            }
        }
    }
    .timeline-container {
        margin-left: 16px;
    }
}

.member {
    background: white;
    border-radius: 8px;
    width: fit-content;
    margin-top: 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.addMember {
    margin-left: 10%;
    margin-top: 30px;
    width: 30%;
}

.white-icon {
    color: white;
}

.project-name {
    align-items: left;
    text-align: left;
}

.margin-top {
    margin-top: 20px;
}

.user-box {
    margin-top: 10px;
    border: solid 1px #dddddd;
    height: 40px !important;
}

.main-container {
    max-width: 600px;
    margin: auto;
}