<div>
    <p>
        Project settings
      </p>
      
      <p>Nazwa : {{project.name}}</p>
      <p>
          Opis : {{project.description}}
      </p>
      
      <h1>Team members</h1>
      <p *ngIf="members.length===0">Nie ma czlonkoow zespolu zandych</p>
      <mat-list>
          <mat-list-item class="member" *ngFor="let member of members">{{member.firstName}} {{member.lastName}}
              <button mat-icon-button (click)="removeMember(member.id)">
                  <i class="material-icons">clear</i>    
                </button>        
          </mat-list-item>
      </mat-list>
       
      
      <div class="addMember">
        <h1>Add new member !</h1>
      
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="newUserEmail">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" (click)="addMember()">Send invitation</button>
      </div>      
</div>